/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */
html{
     position: relative;
     height: 100vh;
     width: 100vw;
}
.BG1{
     background-color: rgb(253, 254, 0);
     position: fixed;
     z-index: -9;
     width: 500px;
     height: inherit;
     transform: skew(-8deg, 0deg);
     left: -21px;
}
.BG2{
     background-color: rgb(178, 178 , 178);
     position: fixed;
     z-index: -10;
     width: inherit;
     height: inherit;
}
body {
     background:url('../img/Presentacion2.png') center center no-repeat;
     position: absolute;
     height:inherit;
     width: inherit;
     background-attachment: fixed;
     background-size: cover;
     z-index: 10;
} 
.rowf{
     margin-bottom: 0 !important;
}
div .collapsible-header{
    padding: 8px; 
}
.titulo {
     font-size: 55px;
     text-transform: uppercase;
     letter-spacing: 7px;
     color: black;
}
.galeria img{
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6); 
    border-radius: 12px;
    height: 161.7px;  
}

.card{
     border-radius: 20px;
}

div.card-image{
     overflow: hidden;
     padding-left: 0px;
     padding-right: 0px;
}
.card-title{
     font-size: 19px !important;
     
} 
.tractor{
     border-radius: 180%;
}
.letras{
     color: black;
     font-family: 'Times New Roman', Times, serif;
}
div .dropdown-content{
     height: 229.767px;
}
div .card-content{
     height: 500px;
}
div.modal{
     width: 78%;
     height: 100%;
     max-height: 88%;
}
div .card{
     width: 100%;
     height: 100%;
}
#btnn img{
     position: fixed;
     left: 89%;
     bottom: 2%;
     box-shadow: none;
     height: 100px;
}

/*xs----Extra small*/
@media screen and (min-width:320px){
     #btnn img {
          right: 0%;
          position: fixed;
          bottom: 2%;
          box-shadow: none;
          height: 50px;
      }
      div .card {
          width: 100%;
          height: 122%;
      }
      ul.collapsible {
          width: 81.3%;
          width: 260.4px;
      }
}
/*sm----small (landscape phones, 576px and up)*/
@media (min-width: 576px) {
     .galeria .card-image img {
          box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
          border-radius: 12px;
          height:150%;
          max-height: 170%;
          height: 199px;
          
     }
     #btnn img {
          right: 0%;
          position: fixed;
          bottom: 2%;
          box-shadow: none;
          height: 100px;
     }
     ul.collapsible {
          width: 81.3%;
          width: 653.5px;
     }
     .card-image{
          padding-left: 5px;padding-right: 5px;
     }
}

/*md----medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}
/*lg----large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }
/*xl----Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }